//! **************************************************************************
// Written by: Map P.20131013 on Sun Oct 06 12:53:36 2019
//! **************************************************************************

SCHEMATIC START;
COMP "A" LOCATE = SITE "C3" LEVEL 1;
COMP "B" LOCATE = SITE "D3" LEVEL 1;
COMP "S" LOCATE = SITE "E4" LEVEL 1;
COMP "Z" LOCATE = SITE "P4" LEVEL 1;
SCHEMATIC END;

