//! **************************************************************************
// Written by: Map P.20131013 on Sun Oct 06 14:05:18 2019
//! **************************************************************************

SCHEMATIC START;
COMP "F" LOCATE = SITE "P4" LEVEL 1;
COMP "X" LOCATE = SITE "C3" LEVEL 1;
COMP "Y" LOCATE = SITE "D3" LEVEL 1;
COMP "Z" LOCATE = SITE "E4" LEVEL 1;
SCHEMATIC END;

